# API Configuration
# NUXT_PUBLIC_API_BASE_URL=https://metrobnb-api.onrender.com  # Production
NUXT_PUBLIC_API_BASE_URL=http://localhost:8000

# Development Settings
NUXT_PUBLIC_DEV_MODE=false
NUXT_DEVTOOLS=true
# Force cache bust
CACHE_BUST=1

# Cache Settings (in minutes)
CACHE_DURATION_MINUTES=5


